.search-ul {
  padding-left: 0;
  margin-top: 0;
  list-style: none;
}

.search-li {
  display: flex;
  padding: 0.65rem;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.04em;
  border: 1px solid #d8d8d8;
  border-top: none;
}

.nr-results,
.higlighted {
  color: #777;
  font-weight: 500;
}

.nr-results {
  padding-left: 0.3em;
}

.higlighted {
  background-color: transparent;
}
