.search-form {
  margin: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 270px;
}

.form-element {
  display: flex;
  align-items: flex-center;
  border: 1px solid #d8d8d8;
}

.form-element:focus-within {
  border-color: #000;
}

.form-element,
.search-input {
  width: 100%;
  height: 100%;
  font-size: 12px;
  padding-top:0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  letter-spacing: 0.03em;
}

.search-input,
.search-button,
.clear-button {
  outline: none;
  border: none;
  overflow: hidden;
  background-color: #fff;
}

.clear-button {
  margin-right: .5em;
}

::placeholder {
  color: #777;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
